@import 'tailwindcss';

html {
    @apply h-full;
}

body {
    @apply p-0 m-0 bg-white h-full;
}

.form-input {
    @apply block w-full rounded-md bg-gray-50 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-500 sm:text-sm/6
}

.form-input.invalid {
    @apply outline-red-500 bg-red-50;
}

.form-label {
    @apply block text-sm/6 font-medium text-gray-900
}

.primary-btn {
    @apply rounded-md bg-sky-700 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-sky-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 cursor-pointer
}